a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 1rem;
}

/* gradient icona */

#heart {
  background: linear-gradient(133deg, rgba(2, 0, 36, 1) 0%, rgba(47, 47, 177, 1) 18%, rgba(197, 235, 255, 1) 100%);
}

/* ------------------ */
