a {
  text-decoration: none;
  color: #ffffff;
}
body {
  color: #fff;
  background: linear-gradient(0deg, rgba(15, 14, 14, 1) 48%, rgba(65, 63, 63, 1) 100%);
}

ul {
  list-style-type: none;
}

li {
  padding-top: 1rem;
}

main {
  position: relative;
}

section {
  margin: 30px;
  &#newAlbum,
  &#thisAlbum {
    margin: 60px 50px 10px 50px;
  }
}
#newAlbum {
  .customGradient {
    background: linear-gradient(8deg, rgba(32, 29, 29, 1) 63%, rgba(61, 58, 58, 1) 100%);
  }
}

#thisAlbum {
  .card {
    background-color: unset;
    border: none;
    color: white;
    &.mainAlbum .card-body {
      padding: 1rem;
      line-height: 80px;
      .card-text {
        font-size: 12px;
        .imgSmall {
          border-radius: 50%;
          height: 20px;
          width: 20px;
          margin-right: 10px;
          vertical-align: middle;
        }
        & .time {
          color: #d3d3d37a;
        }
        & .anno::before,
        & .anno::after {
          content: "";
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: #fff;
          border-radius: 50%;
          vertical-align: middle;
          margin: 0 5px;
        }
      }
    }
  }
  .listContainer {
    margin-top: 50px;
    .list {
      table * {
        color: white;
        background-color: rgb(15, 14, 14);
        th {
          font-size: 14px;
          padding: 15px 5px;
        }
        td {
          padding: 15px 0;
          font-size: 12px;
          border: none;
          &.name {
            .index {
              width: 15px;
              margin-left: 10px;
            }
            div {
              margin: 0 10px;
            }
            p {
              margin: 0;
            }
            .artist {
              color: grey;
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 20px;
}

.BB {
  position: absolute;
  top: 15px;

  border-radius: 9999px;
  color: grey;
  width: 25px;
  height: 25px;
  background-color: black;
  padding: 0.5px 3.5px;
  &.btn-B {
    left: 15px;
  }
  &.btn-N {
    left: 55px;
  }
}

.containerAlbum {
  height: 200px;

  .card-title {
    font-size: 54px;
    text-transform: uppercase;
  }
  .card {
    .card-body {
      padding: 0;
    }
  }
  img {
    height: 100%;
    width: 220px;
    &.albumImage {
      padding:30px
    }
  }
}

.listContainer {
  margin-top: 20px;
}
.btnContainer {
  .btn {
    height: 40px;
    width: 70px;
    border-radius: 9999px;
    font-weight: 800;
    &-success {
      color: #000;
    }
  }
  .btn-dark {
    background-color: #000;
  }
}
.cardList {
  .card {
    width: calc(100% / 3 - 10px);
    padding: 0;
    margin: 0;
    border: 0;
    height: 50px;
    .card-body {
      height: 100%;
      padding: 0;
      display: flex;
      img {
        height: 100%;
      }
      p {
        width: 100%;
        padding: 12px;
      }
    }
  }
}
#albumLike {
  margin-top: 45px;
}
#cardAlbum {
  padding: 10px 12.5px;

  .card {
    padding: 20px;
    padding-bottom: 0;
    margin: 10px;
    width: calc(100% / 5 - 20px);
    color: #fff;
    background: linear-gradient(8deg, rgba(32, 29, 29, 1) 63%, rgba(61, 58, 58, 1) 100%);
    img {
      border-radius: 4px;
      height: 140px;
    }

    .card-body {
      text-align: center;
    }
  }
}

// tutte le scrollbar

.scrollable {
  max-height: 100vh;
  overflow-y: auto;
}

// footbar

.musicPlayer {
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;

  height: 4rem;
  padding: var(--padding);
  color: var(--primary-color);

  & i {
    color: var(--secondary-color);

    &:hover {
      color: var(--primary-color);
    }
  }

  .songsBar {
    position: absolute;
    left: var(--padding);
    gap: 1.5rem;
    width: 25%;
  }

  .songsInfo {
    gap: 1em;
  }

  .songsImg {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    padding-left: var(--padding);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .songsDescription p {
    margin: 0.2em;
  }

  .songsTitle,
  .songsArtist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    &:hover {
      text-decoration: underline;
    }
  }

  .songsArtist {
    color: var(--secondary-color);
  }

  .icons {
    gap: 1em;
  }

  .progress-controller {
    width: 100%;
    gap: 1.5em;
    color: var(--secondary-color);

    .control-buttons {
      gap: 2em;
    }

    .play-pause {
      display: inline-block;
      padding: 8px 12px;
      background-color: var(--primary-color);
      color: #111;
      border-radius: 50%;

      &:hover {
        transform: scale(1.1);
        color: #111;
      }
    }

    .progressContainer {
      width: 100%;
      gap: 1em;

      .progressBar {
        height: 4px;
        border-radius: 10px;
        width: 30%;
        background-color: #ccc4;

        &:hover {
          .progress {
            background-color: var(--green-color);

            &::after {
              content: "";
              position: absolute;
              --size: 1em;
              width: var(--size);
              height: var(--size);
              right: 0;
              border-radius: 50%;
              background-color: var(--primary-color);
              transform: translate(50%, calc(2px - 50%));
            }
          }
        }
      }

      .progress {
        position: relative;
        height: 100%;
        width: 50%;
        border-radius: 10px;
        background-color: var(--secondary-color);
      }
    }
  }
}
